skip_tags: true
clone_depth: 50

os: Visual Studio 2015

environment:
  matrix:
    - PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "x86_64"
    - PYTHON_VERSION: "3.4"
      PYTHON_ARCH: "x86_64"
    - PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "x86_64"

platform:
    - x64

build_script:
  - ps: Start-FileDownload "https://repo.continuum.io/miniconda/Miniconda$env:PY_MAJOR_VER-latest-Windows-$env:PYTHON_ARCH.exe" C:\Miniconda.exe; echo "Finished downloading miniconda"
  - cmd: C:\Miniconda.exe /S /D=C:\Py
  - SET PATH=C:\Py;C:\Py\Scripts;C:\Py\Library\bin;%PATH%
  - conda config --set always_yes yes
  - conda update conda --quiet
  - conda install numpy scipy pandas pip nose mock wrapt --quiet
  - pip install pyparsing
  - python setup.py develop
  - set "GIT_DIR=%cd%"

test_script:
  # Excluding test_sampling because it's failing on windows. #755
  - nosetests -v --exclude=test_sampling

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/c084306bedf9aa508af2
    method: GET
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
