environment:
  matrix:
    # pytorch only seems to work on 64bit Python versions on Windows
    - PYTHON: "C:\\Python39-x64"
      PYTHON_VERSION: "3.9.x"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python38-x64" 
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python36-x64"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - "%PYTHON%\\python.exe -m pip install pip -U"
  - "%PYTHON%\\python.exe -m pip install torch==1.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt -U"
  - "%PYTHON%\\python.exe -m pip install -e ."

build: off

test_script:
  - "%PYTHON%\\python.exe -m pytest"

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/c084306bedf9aa508af2
    method: GET
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: true
